<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ezCash.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7DDCB9423ED0622009C2D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7DDCBAA23ED0625009C2D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7DDCBB523ED0625009C2D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
